*{
	margin:0;
	padding: 0;
}

body{
	font-size:1em;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	background-color: #f3f3f3;
}
#navegacao{
	background-color: #fff;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
	position: fixed;
	width: 100%;
	top:0;
}
#area{
	width: 720px;
	margin: 0 auto;

}
#area-principal{
	width: 720px;
	margin: 55px auto 10px auto;
	

}


#logo{
	position: relative;
	float:left;
}
#menu{
	
	position: relative;
	float:right;
	padding: 10px 0;
}
#postagem{
	background:#fff;
	padding:10px;
	margin-bottom:10px;

}
h2{
	color:#b9c941;

}


#menu>ul{

	text-decoration: none;

}
#menu>ul>li{
	display: inline;

}
#menu>ul>li>a{
	text-decoration: none;
	padding: 5px 10px;
}
/*Formatacao links*/
ul>li>a:link{
	color:#838383;

}
/*Links visitados*/
ul>li>a:visited{
	color:#535353;
	}


#menu>ul>li>a:hover{
	cursor:pointer;
	background:#b9c941;
	color:#fff;

}

.verde{
	color:#b9c941;
}

.data-postagem{
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.img-postagem{
	float: left;
	margin:10px;
}
.postado{
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display:block;
	margin-top: 10px;
}

